<aside
  class="bg-gray-100 dark:bg-gray-800 p-4 w-full sm:w-64 sm:sticky top-0 sm:h-screen"
>
<a
  routerLink="/"
  class="block text-xl font-semibold mb-4 dark:text-white hover:underline hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors"
>
  Blog Posts
</a>
  <ul class="space-y-2">
    <li *ngFor="let post of posts">
      <a
        [routerLink]="['/posts', post.slug]"
        class="text-blue-600 dark:text-blue-400 hover:underline block"
      >
        {{ post.title }}
      </a>
    </li>
  </ul>
</aside>
